@use '../../styles/variables' as *;

.course-grid {
  width: 100%;
  display: grid;

  &__list {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        // Минимальная ширина карточки — от 280px до 390px
        clamp(280px, 30vw, 390px),
        1fr
      )
    );
    gap: 30px;
    margin-bottom: clamp(40px, 8vw, 80px);
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    justify-content: start;

    &:has(> :only-child) {
      justify-content: center;
    }

    & > * {
      transition: transform 0.4s ease;
    }
  }
}
