@use '../../styles/variables' as *;

.course-grid {
  width: 100%;
  display: block;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    max-width: 1230px;
    margin: 0 auto clamp(40px, 8vw, 80px);

    & > * {
      min-width: 280px;
      max-width: 390px;
      transition: transform 0.4s ease;
    }

    &:has(> :only-child) {
      justify-content: center;
    }
  }
}
