@use './variables' as *;
@use './fonts' as *;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-primary;
  color: $color-text-primary;
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: clamp(20px, 3vw, 86px);
  min-height: 100vh;
}

#app {
  min-height: 100%;
  width: 100vw;
}

.page {
  max-width: min(1310px, 100vw);
  margin: 0 auto;
  padding: clamp(10px, 3vw, 40px);
}

.header {
  text-align: center;
  margin-bottom: 32px;

  &__title {
    font-weight: 900;
    font-size: clamp(20px, 3.6vw, 46px);
    line-height: 130%;
    color: $color-text-primary;
    margin: 0;
    margin-top: 9px;
  }

  &__subtitle {
    font-size: 16px;
    color: $color-text-tertiary;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 150%;
    font-weight: 700;
    margin-top: 4px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(12px, 2vw, 20px);
  margin-top: clamp(40px, 6vw + 40px, 83px);
  margin-bottom: clamp(30px, 4vw + 20px, 60px);

  flex-wrap: wrap;

  > *:last-child {
    min-width: min(100%, 300px);

    &.search {
      margin-left: 0;
    }
  }
}
