@use '../../styles/variables' as *;

.filter {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    display: inline-flex;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border: none;
    color: $color-text-secondary;
    cursor: pointer;

    max-height: 46px;
    min-width: 77px;

    background: transparent;

    &--active {
      color: $color-accent;
      border-radius: 4px;
      border: 1px solid $color-accent;

      .filter__count {
        color: $color-accent;
      }
    }
  }

  &__category {
    position: relative;
    font-size: 16px;
    line-height: 160%;
    font-weight: 700;
    font-family: 'Lato Bold';
    letter-spacing: -0.095px;
    width: 100%;
    display: flex;
    gap: 4px;
  }

  &__count {
    font-family: 'Lato Black';
    font-size: 10px;
    line-height: 150%;
    font-weight: 900;
    color: $color-text-tertiary;
    background: transparent;
  }
}
