@use '../../styles/variables' as *;

.search {
  margin-left: auto;
  position: relative;
  width: clamp(300px, 25vw, 315px);

  &__input {
    width: clamp(300px, 25vw, 315px);
    height: 44px;
    padding: 11px 16px;
    padding-bottom: 12px;
    border-radius: 4px;
    border: 1px solid $color-border;
    font-family: $font-primary;
    font-size: 14px;
    outline: none;
    transition: box-shadow 0.15s ease;

    &:focus {
      box-shadow: 0 0 0 4px rgba(90, 135, 252, 0.08);
      border-color: $color-secondary;
    }
  }

  &__icon {
    position: absolute;
    right: 16px;
    top: 15px;
    pointer-events: none;
  }
}
