@use '../../styles/variables' as *;

.decorations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.decorations__item {
  position: absolute;
  pointer-events: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.decorations__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.decorations__item--top-right {
  top: 5%;
  right: -50px;
  width: clamp(120px, 15vw, 200px);
  height: clamp(120px, 15vw, 200px);
}

.decorations__item--left {
  top: 50%;
  left: 3%;

  width: clamp(63px, 18vw, 83px);
  height: clamp(32px, 25vw, 44px);
  animation: floatLeft 10s ease-in-out infinite;
}

.decorations__item--bottom-right {
  bottom: 100px;
  right: 3%;
  width: clamp(60px, 20vw, 85px);
  height: clamp(60px, 20vw, 85px);
}
